[submodule "allocs/jemalloc"]
	path = allocs/jemalloc
	url = https://github.com/facebook/jemalloc.git
[submodule "allocs/mimalloc"]
	path = allocs/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "allocs/Hoard"]
	path = allocs/Hoard
	url = https://github.com/emeryberger/Hoard.git
[submodule "apps/mfem"]
	path = apps/mfem
	url = https://github.com/mfem/mfem.git
[submodule "apps/LULESH"]
	path = apps/LULESH
	url = https://github.com/llnl/LULESH.git
[submodule "apps/miniGhost"]
	path = apps/miniGhost
	url = https://github.com/Mantevo/miniGhost.git
[submodule "apps/miniAMR"]
	path = apps/miniAMR
	url = https://github.com/Mantevo/miniAMR.git
[submodule "apps/miniFE"]
	path = apps/miniFE
	url = https://github.com/Mantevo/miniFE.git
[submodule "apps/openfoam"]
	path = apps/openfoam
	url = https://develop.openfoam.com/Development/openfoam.git
[submodule "apps/ompi"]
	path = apps/ompi
	url = https://github.com/open-mpi/ompi.git
